{% extends 'static/base.html' %}
<head> </head>

<body>
    {% block content %}
    <table>
        <thead>
            <tr>
                <td class="td-primary">번호</td>
                <td>제목</td>
            </tr>
        </thead>
        <tbody>
            {% if data %} 
                {% for item in data %}
                    <tr>
                        <!-- 글번호 = (전제글수) - (시작인덱스) - (현재인덱스) + 1 -->
                        <td class="td-primary">{{ item.pk }}</td>
                        <td>
                            <a href="{% url 'pr:detail' item.urls %}"
                                >{{ item.product_name }}</a
                            >
                        </td>
                    </tr>
                {% endfor %} 
            {% else %} 
                {% for product in products %}
                    <tr>
                        <td class="td-primary">{{ product.pk }}</td>
                        <td>
                            <a href="{% url 'pr:detail' product.urls %}">{{ product.product_name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% endblock %}
</body>
