{% extends 'static/base.html' %}
{% load static %}
<head>
</head>

<body>


<div>
  {% block content %}
  <p>
  <p>
  <p>
</div> 
<br>
<div>
  
  <form method="POST" action="{% url 'pr:pr_tag'%}">
    {% csrf_token %}
    <input type='text' name='product_name' placeholder='product_name'>
    <input type='text' name='price' placeholder='price'>
    <input type='text' name='discount' placeholder='discount'>
    <input type='text' name='tag' placeholder='tag'>
    <input type='text' name='genre' placeholder='genre'>
    <button class="btn btn-outline-success" type="submit">제출</button>
  </form>
</div>
{% endblock %}




</body>

<footer>
