<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<p></p>
<p></p>
<p></p>

<div class="container text-left" style="margin-top: 100px;">
  <h1 class="display-5" style="margin-left: 40px;">Log In</h1>  
  <p></p>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col-md-1">      
    </div>

    <div class="col-md-4">
      <form method="POST" action="{% url 'ac:login_submit'%}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="text" class="form-control" name='username'>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name='password'>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">자동 로그인</label>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 100px;">로그인</button>
      </form>
      <div>
        <form method="POST" action="{% url 'ac:signup_view'%}">                          
          {% csrf_token %}
          <button class="btn btn-outline-success" type="submit" style="margin-top: 20px;">회원가입</button>
        </form>
      </div>

    </div>
    <div class="col-md-9">
      
    </div>
  </div>
</div>


{% comment %} <h2>로그인</h2>
<div>
  <form method="POST" action="{% url 'ac:login_submit'%}">                          
    {% csrf_token %}
    <input type='text' name='username' placeholder='username'>           
    <input type='password' name='password' placeholder=''>
    <button class="btn btn-outline-success" type="submit">Log In</button>
  </form>
</div> {% endcomment %}
{{message}}
{% comment %} <div>
  <form method="POST" action="{% url 'ac:signup_view'%}">                          
    {% csrf_token %}
    <button class="btn btn-outline-success" type="submit">회원가입</button>
  </form>
</div>
<br> {% endcomment %}

</body>

<footer>